<h2>Register New Donor</h2><br>

<form action="/bloodbank/donorregister/" method="post">
{% csrf_token %}
    Donor ID:<br>
    <input type="text" name="donor_ID" required><br>
    Name:<br>
    <input type="text" name="name" required><br>
    Age:<br>
    <input type="number" name="age" required><br>
    Sex:<br>
    <select name="sex">
	<option value='M'>M</option>
	<option value='F'>F</option>
    </select><br>
    Address:<br>
    <input type="text" name="address"><br>
    Contact:<br>
    <input type="text" name="contact_no"><br>
    Email ID:<br>
    <input type="text" name="email_id"><br>
    Blood Group:<br>
    <select name="blood_group">
	<option value='A+'>A+</option>
	<option value='A-'>A-</option>
	<option value='B+'>B+</option>
	<option value='B-'>B-</option>
	<option value='AB+'>AB+</option>
	<option value='AB-'>AB-</option>
	<option value='O+'>O+</option>
	<option value='O-'>O-</option>
    </select><br>
    Employee ID (of the registering employee):<br>
    <input type="text" name="employee_ID" value = "{{ eid }}" readonly /><br>
    Password:<br>
    <input type="password" name="password" required><br>
    Confirm Password:<br>
    <input type="password" name="cpassword" required><br>
    <input type="submit" value="Submit">
</form>


{% if errorid %}
	<a ><p><strong>{{ errorid }}</strong></p></a>
{% endif %}

{% if ename %}
	<a ><p><strong>{{ ename }}</strong></p></a>

{% endif %}

{% if eage %}
	<a ><p><strong>{{ eage }}</strong></p></a>
{% endif %}

{% if eno %}
	<a ><p><strong>{{ eno }}</strong></p></a>
{% endif %}

{% if emid %}
	<a ><p><strong>{{ emid }}</strong></p></a>
{% endif %}

{% if epass %}
	<a ><p><strong>{{ epass }}</stong></p></a>
{% endif %}
<br><br>
<a href='/bloodbank/home/'>HOME</a>
