<h1>New Employee Registration</h1>
<br>
<form action="/bloodbank/empregister/" method="post">
{% csrf_token %}
    Employee ID:<br>
    <input type="text" name="employee_ID" required><br>
    Name:<br>
    <input type="text" name="name" required><br>
    Age:<br>
    <input type="number" name="age" required><br>
    Sex:<br>
    <select name="sex">
	<option value='M'>M</option>
	<option value='F'>F</option>
    </select><br>
    Salary:<br>
    <input type="number" name="salary" required><br>
    Contact:<br>
    <input type="text" name="contact_no"><br>
    Email ID:<br>
    <input type="text" name="email_id"><br>
    Password:<br>
    <input type="password" name="password" required><br>
    Confirm Password:<br>
    <input type="password" name="cpassword" required><br>
    <input type="submit" value="Submit">
</form>

{% if errorid %}
	<a ><p><strong>{{ errorid }}</strong></p></a>

{% endif %}

{% if ename %}
	<a ><p><strong>{{ ename }}</strong></p></a>

{% endif %}

{% if eage %}
	<a ><p><strong>{{ eage }}</strong></p></a>
{% endif %}

{% if esal %}
	<a ><p><strong>{{ esal }}</strong></p></a>
{% endif %}

{% if eno %}
	<a ><p><strong>{{ eno }}</strong></p></a>
{% endif %}

{% if emid %}
	<a ><p><strong>{{ emid }}</strong></p></a>
{% endif %}

{% if epass %}
	<a ><p><strong>{{ epass }}</stong></p></a>
{% endif %}
