<h2>Recent history of donations : The donor and latest donation date for a blood group</h2>
<form action="/bloodbank/histdisplay/" method="post">
{% csrf_token %}
    Select Blood Group<br>
    <select name="blood_group">
	<option value='A+'>A+</option>
	<option value='A-'>A-</option>
	<option value='B+'>B+</option>
	<option value='B-'>B-</option>
	<option value='AB+'>AB+</option>
	<option value='AB-'>AB-</option>
	<option value='O+'>O+</option>
	<option value='O-'>O-</option>
    </select><br>
    <input type="submit" value="Check!">
</form>
<br><br>
{% if error %}
	{{error}}
{% endif %}
